@inherits AppCode.Razor.AppRazor
@using AppCode.Data
@using AppCode.Razor
@using ToSic.Razor.Blade

@* --- This shows a list of files, which the user can manually order --- *@

<div class="app-filelist mb-4" @Kit.Toolbar.Default(MyHeader).Settings(hover: "left", autoAddMore: "start")>
  @* Show the title *@
  @ShowTitle(As<ListHeader>(MyHeader))
  
  @* Loop all the files and show each one *@
  <div class="list-group">
    @foreach (var fileItem in AsList<File>(MyItems)) {      
      @Html.Partial("Shared Part File.cshtml", new FileViewModel(null, 0, fileItem))
    }
  </div>
</div>

@Html.Partial("Assets.cshtml")
