@inherits Custom.Hybrid.Razor12
@using ToSic.Sxc.Services;
@{
  // 1. Get Services for Css and Page
  var pageCss = GetService<Connect.Koi.ICss>();         // Service to get CSS information about the current Theme
  var pageSvc = GetService<IPageService>();  // Service to set titles etc. on the page

  // 2. Include Bootstrap4 if the framework isn't known
  if (pageCss.IsUnknown) {
    pageSvc.Activate("Bootstrap4");
  }

  // 3. Show warning for admin if koi.json is missing 
  if (pageCss.IsUnknown && CmsContext.User.IsSiteAdmin) {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  // 4. Include styles of the App
  <link rel="stylesheet" href="@App.Path/bs4/dist/styles.min.css" @pageSvc.AssetAttributes()/>
}
